﻿header, body, footer {
    font-family: Calibri;
    font-size: 16px;
}

h2, h3 {
    text-align: center;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    border-spacing: 5px;
}

th {
    background: #ddd;
}

th, td {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    min-width: 40px;
}

.row {
    display: flex;
    margin-top: 15px;
}

.column {
    flex: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #b00909;
}

/* Solid border */
hr.solid {
    border-top: 3px solid lightgray;
}

#topBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

